.container {
  padding-top: 20px;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
}

.table__img {
  width: 34px;
  height: 34px;
}

.table__details {
  @media (width >= 640px) {
    display: none;
  }

  div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 30px;
    padding-inline: 16px;
  }

  p {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px dashed var(--gray-10-neutral);
  }
}

.table__icon {
  cursor: pointer;
  color: var(--blue-primary);
}

.table__colgroup {
  col:nth-child(1) {
    width: 44px;
  }

  col:nth-child(3) {
    width: 44px;

    @media (width >= 640px) {
      display: none;
    }
  }

  col:nth-child(4) {
    display: none;

    @media (width >= 640px) {
      display: table-column;
    }
  }

  col:nth-child(5) {
    display: none;

    @media (width >= 640px) {
      display: table-column;
    }
  }

  col:nth-child(6) {
    display: none;
    width: 214px;

    @media (width >= 640px) {
      display: table-column;
    }
  }
}

.table__th_tr {
  th:nth-child(3) {
    font-size: 8px;

    @media (width >= 640px) {
      display: none;
    }
  }

  th:nth-child(4) {
    display: none;

    @media (width >= 640px) {
      display: table-cell;
    }
  }

  th:nth-child(5) {
    display: none;

    @media (width >= 640px) {
      display: table-cell;
    }
  }

  th:nth-child(6) {
    display: none;

    @media (width >= 640px) {
      display: table-cell;
    }
  }
}

.md__display_cell {
  display: none;

  @media (width >= 640px) {
    display: table-cell;
  }
}

.md__display_none {
  @media (width >= 640px) {
    display: none;
  }
}

.md__shadow_xs {
  @media (width >= 640px) {
    box-shadow: var(--shadow-xs);
  }
}

.table__notfound{
  height: 100px;
}