.search__container {
  position: relative;
  width: 100%;
}

.search__icon {
  position: absolute;
  right: 16px;
  top: 12px;

  color: var(--gray-10-neutral);
}

.search {
  width: 100%;
  min-width: 290px;
  padding-block: 12px;
  padding-inline: 12px;
  height: 48px;
  font-size: 16px;
  border-radius: var(--rounded-lg);
  border: 1px solid var(--gray-10-neutral);
}

.search::placeholder {
  color: var(--gray-20-neutral);
  font-size: 16px;
  font-family: var(--font-helvetica);
}

@media (width >= 640px) {
  .search__container {
    width: fit-content;
  }
}
